.all_boxes {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    background-image: repeating-linear-gradient(#263238, rgba(151, 159, 167, 0.74), #161e22);;  
  }
  
  .general_news_single {
    width: 400px;
    height: 250px;
    border: 2px solid rgb(201, 196, 196);
    box-shadow: 0px 0px 10px #000000;
    padding: 10px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .general_news_single:hover {
    justify-content: flex-start;
  }
  .gnc{
    z-index: 10;
    position: absolute;
    width:400px;
    height:400px;
  }
  
  .general_news_single:hover p {
    background-color: unset; 
  }
  
  .general_news_single:hover .general_news_desc_box {
    display: unset;
    z-index: 5;
  }
  .general_news_single .filter{
      display: none;
      background-color: rgba(22, 22, 22, 0.883);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
  }
  .general_news_single:hover .filter {
      display: unset;
  
  }
  
  
  p {
    margin: 0 -20px;
    min-width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 6;
    padding: 5px 10px;
    margin-bottom: 0;
    background-color: rgba(22, 22, 22, 0.61);
    border-radius: 0 0px 0px 0;
    color: #fff;
    /* .general_news_single p{
      color: white;
      text-shadow: -.5px .5px 0 #000,
                    .5px .5px 0 #000,
                   .5px -.5px 0 #000,
                  -.5px -.5px 0 #000;
  } */
  }
  
  .general_news_desc_box {
    display: none;
    min-width: 100%;
    padding: 10px 0;
    margin: 5px 0px 10px -2px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    z-index: 5px;
  }
  
  .general_news_desc {
    width: 100%;
    max-height: 10ch;
    height: fit-content;
    overflow-y: hidden;
    z-index: 6;
  }
  
  .general_news_img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    filter: blur(0px);
  }
  
  .general_news_img img {
    height: 100%;
    width: 100%;
  }
  